<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.whitepaper.daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/zsh</string>
      <string>__SCRIPT_PATH__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__WORK_DIR__</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      <key>BACKEND_PORT</key>
      <string>8000</string>
      <key>WHITEPAPER_DAEMON_HOST</key>
      <string>0.0.0.0</string>
      <key>FRONTEND_DIST_DIR</key>
      <string>__FRONTEND_DIST_DIR__</string>
      <key>WHITEPAPER_RUNTIME_STATUS_PATH</key>
      <string>__RUNTIME_STATUS_PATH__</string>
    </dict>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/launchd.out.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/launchd.err.log</string>
  </dict>
</plist>
